@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Oxygen');


.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logout {
  background-color: #34393D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


body{
  background-color: #0072B4;
  color: #F0C331
}

h1{
  font-family: 'Oxygen', sans-serif;

}

h3{
  font-family: 'Lato', sans-serif;

}

nav {
  height: 40px;
}

.login-button {
  position: absolute;
  right: 0px;
}

.login-button button{
  border: none;
  background-color: #F0C331;
  border-radius: 0px;
  height: 40px;
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: '400';
  font-size: 15px;
}

.login-button button:hover{
  background-color: #0072B4;
  border: 1px solid #F0C331

}

.greeting{
  font-family: 'Lato', sans-serif;

}

.greeting:hover{
  color: #F0C331;
  cursor: pointer
}

.back-button {
  height: 40px;
  background-color: #F0C331;
  border-radius: 0px;
  border: none;
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: '400';
  font-size: 15px;
  position: absolute;
  left: 0px;
  width: 100px;

}

.logout-button{
  height: 40px;
  background-color: #F0C331;
  border-radius: 0px;
  border: none;
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: '400';
  font-size: 15px;
  position: absolute;
  right: 0px;
  width: 100px;
}





