@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Oxygen');

.create-form{
    border: 1px solid black;
    width: 1000px;
    height: 500px;
    align-self: center;
    z-index: 5;
    top: 10%;
    position: absolute;
    background-color: #d4e8f5;
    color: black;
    border-radius: 15px;
    box-shadow: 20px 30px 5px #34393D;
    display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.create-form input {
    border: 0;
    border-bottom: 1px solid black;
    background-color: #d4e8f5;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
}

.create-form input:focus{
    outline: none;
}

.create-form p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}


.form-criteria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-criteria select {
    border: 0px;
    margin-left: 15px;
    width: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

.create-title{
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;

}


