.item-view-card{
    /* border: 1px solid black; */
    background-color: transparent;
    color: white;
    /* border-radius: 5px; */
    /* width: 800px; */
    display: flex;
    flex-direction: row;
  

}

.item-view-category{
    font-size: 15px;
    margin: 0px;
}

.item-view-name{
    margin: 0px;
    margin-top: 10px;
    color: #34393D
}

.delete{
    width: 50px;
}