@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Oxygen');

.household-header:hover {
    cursor: pointer;
    color: #F0C331
}

.household-header{
    font-size: 25px;
    color: rgb(52, 57, 61);
}

.greeting-name{
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    color: #0072B4;


}

.user-items{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #0072B4;

}

.item-name{
    
    font-family: 'Lato', sans-serif;
    font-size: 18px;

}

.profile{
    background-color: #d4e8f5;
    border-radius: 20px;
    height: 500px;
    width: 500px;
    box-shadow: 20px 30px 5px #34393D;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    align-self: center;
    justify-content: space-around;
    margin-top: 50px;

}

.about{
   width: 100%
}

.profile-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%
}

.border-line{
    width: 400px;
    border-bottom: 1px solid #F0C331;
}

.all-profile-items{
text-align: left
}